@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,html{
    overflow: hidden;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}



:root{
    --background-color-1: #f0f0f0;
    --background-color-2: #D9D9D9;
    --body-border-radius: 4rem;
    --container-border-radius: 1rem;
    font-size: 1.2rem;
    font-family: "Montserrat", serif;
}



@keyframes enter {
    0%{
        transform: translateY(100%)
    }
    100%{
        transform: translateY(0);
    }
}

#bodycontainer{
    animation: enter 1s forwards; 
    height: 90%;
    width: 100%;
    background-color: var(--background-color-1);
    border-top-left-radius: var(--body-border-radius);
    border-top-right-radius: var(--body-border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#achievement-text-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #d8bb00;
    width: 100%;
    flex: 1;
    font-size: 1.4rem;
    font-family: "Montserrat", serif;
    font-weight: 600;
    display: flex;
   justify-content: center;
}

#close{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 3px solid #636363;
}

#achievementcontainer{
    width: 90%;
    height: 15rem;
    background-color: var(--background-color-2);
    border-radius: var(--container-border-radius);
}

#statscontainer{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    overflow-x: auto;
    scrollbar-width: none;
}

ul{
    list-style-type: none;
    overflow-y: none;
    overflow-x: none;
    margin: 0;
    padding: 0;
}

#statslist{
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}


#listitem1{
    width: 80%;
    padding: 1rem;
    height: auto;
    background-color: var(--background-color-2);
    border-radius: var(--container-border-radius); 
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listitem1:not(:first-child){
    margin-top: 0;
}

#date-container{
    width: 100%;
    height: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#stats-value-container{
    width: 100%;
    padding: 0;
    margin-top: 0;
}

#statvalues li{
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-content: center;
}

#statvalues li p {
    font-size: 0.8rem;
    white-space: nowrap;
  justify-self: end;
}

#statvalues li #percentage {
    justify-self: end;
}

#statvalues li #shots {
    justify-self:start;
}

#statvalues li:first-child #fraction{
    justify-self:center;
}

#statvalues li:first-child{
    font-weight: 700;
    padding-top: 0;
    margin-top: 0;
}

p {
    display: flex;

}