@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

p,div{
    font-size: 1.2rem;
    font-family: "Montserrat", serif;
}

p{
    font-size: 1rem;
}

div{
    font-size: 1.5rem;
}

:root{
    --btn-color: #F0F0F0;
    --back-size: 1.4rem;
}

body,html{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#back{
    width: var(--back-size);
    height:var(--back-size);
    position: fixed;
    padding-left: 1rem;
    top: 4%;
    left: 3%; 
    transform: none;
}

#settings-title{
    margin: 1.5rem;
}

#container-div{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    margin: 1rem;
    padding: 0.8rem;
    height: 2rem;
    font-weight: 500;
    border-radius: 1rem;
    background-color: var(--btn-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li:nth-child(3){
    color: white;
    background-color: red;
}