@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

p,div{
    font-size: 1.2rem;
    font-family: "Montserrat", serif;
}

p{
    font-size: 1rem;
}

div{
    font-size: 1.5rem;
}

:root{
    --btn-color: #F0F0F0;
    --back-size: 1.4rem;
    --close-button-size: 1.2rem;
}

body,html{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

#back{
    width: var(--back-size);
    height:var(--back-size);
    position: fixed;
    padding-left: 1rem;
    top: 4%;
    left: 3%; 
    transform: none;
}

#settings-title{
    margin: 1.5rem;
}

#container-div{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    cursor: pointer;
    margin: 1rem;
    padding: 0.8rem;
    height: 2rem;
    font-weight: 500;
    border-radius: 1rem;
    background-color: var(--btn-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li:nth-child(4){
    color: white;
    background-color: red;
}

/* Info Div */
#info-div-container{
    display: none;
    position: fixed;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#info-div{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    padding: 10px;
    box-shadow: 1px 1px 10px -2px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    z-index: 30;
    backdrop-filter: blur(0.15rem);
    -webkit-backdrop-filter: blur(0.15rem);
}

#info-text{
    color: white;
    height: 50%;
    font-size: 1.2rem;
    padding: 1rem;
}

#close-btn-div{
    width: 100%;
    display: flex;
    justify-content: end;
}

#close-btn{
    width: var(--close-button-size);
    height: var(--close-button-size);
    border: 1px solid #a3a3a3;
    border-radius: 100%;
    background-color: white;
    padding: 0.2rem;
}

#cancel-btn,#accept-btn{
    width: 8rem;
    border: none;
    height: auto;
    padding: 0.4rem;
    cursor: pointer;
    margin: 0.25rem;
    margin-bottom: 0;
    color: black;
    border: 0;
    border-radius: 0.4rem;
    font-family: "Montserrat", serif;
    font-size: 0.90rem;
    font-weight: 500;
    box-shadow: 0px 0px 10px -5px black;
    color: white;
}

footer{
    padding: 1rem;
    font-size: 1.2rem;
    font-family: "Montserrat", serif;
    font-weight: 500;
}