@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color1: #10af38;
    --color2: #f0f0f0;
    --color3: #34C759;
    --text-color1: #636363;
    --livefgpercent-size: 70px;
    --object-padding: 15px;
    --object-height: 50px;
    --object-border-radius: 30px;
    --btn-size-1: 50px;
    font-size: 1rem;
    font-family: "Montserrat", serif;
}


body,html{
    height: 100%;
    width: 100%;
    margin: 0px;
    min-height: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#datecontainer{
    flex: 0.15;
}

h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0px;
    color: var(--color3);
}

#todaysdate{
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    font-size: 1.01rem;
    font-weight: 500;
    color: var(--text-color1);
}

#statcontainer{
    flex: 2;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

#livedivcontainer{
    flex: 0.1;
}

#livedivcontainer, .layupscontainer{
    width: 80%;
    height: var(--object-height);
    margin: 5px;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--object-padding);
    border-radius: var(--object-border-radius);
}

#livefgpercent{
    width: var(--livefgpercent-size);
    height: var(--livefgpercent-size);
    background-color: white;
    border-radius: 100%;
}

.layupscontainer{
    padding: 20px;
}

#livefg{
    flex: 1;
    color: #34C759;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

#layups-text-container{
    flex: 1;
    padding: 5px;
}

h2,p{
    padding: 0;
    margin: 0;
    color: var(--color3);
    font-weight: 500;
}

p{
    color: var(--text-color1);
    margin-left: 10px;
    display: flex;
    align-items: end;
}

#layupsvalue-container{
    display: flex;
}

#layupsvalue,#midrangevalue,#threepointervalue,#cornerthreevalue,#freethrowvalue,#freestylevalue{
    font-weight: 600;
    font-size: 30px;
    color: var(--text-color1);
}

#btns-container{
    display: flex;
}

.add-btns,.subtract-btns{
    cursor: pointer;
    width: var(--btn-size-1);
    height: var(--btn-size-1);
    border: none;
    font-size: 2rem;
    border-radius: 100%;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-btns{
    background-color: var(--color1);
}

.subtract-btns{
    background-color: red;
}

/* Footer Buttons */
#buttoncontainer{
    flex: 0.25;
    overflow-x: hidden;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
    overflow-y: hidden;
}

#resetbtn,#Endbtn{
    cursor: pointer;
    height: 50px;
    margin: 0.25rem;
    color: white;
    border: 0;
    border-radius: 1rem;
    font-family: "Montserrat", serif;
    font-size: 0.90rem;
    font-weight: 500;
    box-shadow: 0px 0px 10px -5px black;
}

#resetbtn{
    flex: 1;
    margin-left: 0.9rem;
    background-color: red;
}

#Endbtn{
    flex: 1;
    margin-right: 0.9rem;
    background-color: var(--color1);
}

/* Reset Session */
#resetsessioncontainer{
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 300px;
    padding: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 10px -3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--object-border-radius);
}

#resettxt{
    flex: 2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#resetwrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#resetbtn-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

#cancel-reset, #proceed-reset{
    cursor: pointer;
    border: none;
    margin: 10px;
    padding: 10px;
    font-family: "Montserrat", serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 1rem;
    color: white;
    width: 100%;
}

#cancel-reset{
    background-color: #b0b0b0;
}

#proceed-reset{
    background-color: red;
}